:root {
  /* ==== COLORS ==== */
  --bcg-color: #191919;
  /* Text colors */
  --text-color: #ffffdb;
  --text-color-muted: #7a7a7a;
  /* Border-colors */
  --border-color: #837f7f;
  --border-color-complete: rgb(24, 110, 24);
}
